<div>
  <H2>Here's Your Feed</H2>

  <div>
      <form id="new_tweet" method="post" action="/users/<%=@user.id%>/tweet">
  <!-- String interpolation on line 5, as per Teresa -->
      <label class="label" for="content">Write a new tweet!</label>
      <input type="text" name="content" placeholder="What are you thinking?" >
      <br>

      <div class="submit"><input type="submit" value="Tweets Unite!"></div>
    </form>
  </div>


  <% @tweets.each do |tweet| %>
    <div><%= tweet.content %></div>
  <% end %>

</div>
